openapi: 3.0.3
info:
  title: منصة التأهيل والتوظيف - REST API
  version: 1.0.0
  description: واجهات ORDS لمنصة مستودع المدينة المنورة الخيري
servers:
  - url: https://api.madinah-rehab.sa/ords/rehab/api/v1
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    LoginResponse:
      type: object
      properties:
        access_token: { type: string }
        user_id: { type: integer }
        roles: { type: string }
    Job:
      type: object
      properties:
        job_id: { type: integer }
        title: { type: string }
        org_name: { type: string }
        city: { type: string }
        salary_min: { type: number }
        salary_max: { type: number }
        vacancies: { type: integer }
paths:
  /auth/login:
    post:
      summary: تسجيل الدخول وإصدار JWT
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/LoginRequest' } } }
      responses:
        '200': { description: نجاح, content: { application/json: { schema: { $ref: '#/components/schemas/LoginResponse' } } } }
        '401': { description: بيانات غير صحيحة }
  /auth/register:
    post:
      summary: تسجيل مستخدم جديد
      responses: { '201': { description: تم الإنشاء }, '409': { description: البريد مسجّل } }
  /jobs:
    get:
      summary: قائمة الوظائف المنشورة
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: city, in: query, schema: { type: string } }
      responses: { '200': { description: قائمة الوظائف } }
  /jobs/{id}:
    get:
      summary: تفاصيل وظيفة
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses: { '200': { description: تفاصيل الوظيفة } }
  /programs:
    get: { summary: قائمة البرامج التدريبية, responses: { '200': { description: قائمة } } }
  /beneficiaries/{id}/matches:
    get:
      summary: أفضل المطابقات لمستفيد
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
      responses: { '200': { description: نتائج المطابقة } }
  /applications/job:
    post:
      summary: التقديم على وظيفة
      security: [{ bearerAuth: [] }]
      responses: { '201': { description: تم التقديم }, '409': { description: تقديم مكرر } }
  /letters/verify/{code}:
    get:
      summary: التحقق من خطاب عبر رمز QR
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses: { '200': { description: نتيجة التحقق } }
  /dashboard/kpis:
    get:
      summary: مؤشرات لوحة التحكم
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: KPIs } }
